/* SECCIÓN */
.cotizar {
  padding: 80px 0;
  background: var(--bg-dark);
}

/* LAYOUT */
.cotizar-container {
  display: grid;
  gap: 30px;
}

/* FORM */
.cotizar-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-main);
}

/* INPUTS */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--text-light);
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  font-family: inherit;
  background: var(--bg-soft);
  color: var(--text-main);
  transition: border-color var(--transition), box-shadow var(--transition);
}

/* FOCUS */
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--color-gold);
  box-shadow: 0 0 0 2px rgba(201, 164, 44, 0.2);
}

/* EXTRA */
.cotizar-extra {
  text-align: center;
}

.cotizar-extra p {
  margin-bottom: 10px;
  color: var(--text-light);
}
.cotizar-extra a {
  background-color: var(--color-gold);
  color: black;
}
/* DESKTOP */
@media (min-width: 768px) {
  .cotizar-container {
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}
